/*
TODO:
- SEO
    - Twitter Cards?
- nav/workslist dropdown on mobile
- contact form
- gradient on header/footer? shadow?
- translucent overlay for bg instead of transluceng bg?
- font touchup
- replace br w/css?
- projects page as blog-style article links
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* page element formatting */
body {
    /* background-color: #080a0f;*/
    background-color: #000;
    color: #ffffff;
    font-family: "Lato", "Trebuchet MS", sans-serif;
    font-weight: 300;
    /* margin: 1.5rem 1.5rem; */
}
/*
@media screen and (min-width: 960px) {
    body {
        margin: 1.5rem 8%;
    }
}
@media screen and (min-width: 1280px) {
    body {
        margin: 1.5rem 12%;
    }
}
*/
#content-wrap {
    background-image: url(../media/wefax_20210809_000222_225235000_cr_25opacity.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@supports (-webkit-touch-callout: none) {
    #content-wrap {
        background: url('../media/wefax_20210809_000222_225235000_cr_25opacity.png') center top no-repeat scroll;
    }
}
h1 {
    font-weight: 100;
}
h2, h3, table {
    font-weight: 300;
}
table {
    text-align: left;
}
:link, :visited {
    text-decoration: none;
    border-bottom: 1px solid #a0a0a0;
    color: #ffffff;
}
a:hover {
    border-bottom: none;
    transition: border-bottom .5s;
}
iframe {
    border-style: none;
}

/*************************************************/

/* nav formatting */
#nav {
    margin: 1rem 1rem;
}
@media screen and (min-width: 960px) {
    #nav {
        margin: 1rem 8%;
    }
}
@media screen and (min-width: 1280px) {
    #nav {
        margin: 1rem 12%;
    }
}
#navFlex {
    padding-right: 2rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.navElement {
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

/*************************************************/

/* "main" formatting */
#main, #mainRecent {
    margin: 0 1.5rem 1rem;
    background-color: #000;
    padding: 1em;
    padding-top: 0.25em;
    border-radius: 5px;
}
#main {width: fit-content; margin: auto;}
#BGpad {margin: 5%;}
@media screen and (min-width: 640px) {
    #main, #mainRecent {border-radius: 7px;}
}
@media screen and (min-width: 960px) {
    /*
    #main {
        margin: 0 14% 2%;
    }
    */
    #mainRecent {
        margin: 0 8% 2%;
    }
}

@media screen and (min-width: 1280px) {
    /*
    #main {
        margin: 0 20% 2%;
    }
    */
    #mainRecent {
        margin: 0 12% 2%;
    }
}

/*************************************************/

/* Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
footer::before {
    content: '';
    display: block;
    padding-top: 1.5rem;
    margin-bottom: 0rem;
    border-bottom: 1px solid #383a3f;
}
footer {
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 960px) {
    footer {
        margin: 0 8%;
        width: 84%;
    }
}
@media screen and (min-width: 1280px) {
    footer {
        margin: 0 12%;
        width: 76%;
    }
}
footer td {
    padding: 1em 0.33em 0 0;
}

/*************************************************/

/* Homepage */
#myCardBG {
    height: 320px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#myCard {
    padding: 0 1rem;
    /*margin: 35% auto 40%;*/
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 18rem;
    height: 10rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 20pt;
    text-shadow: 1px 1px 10px #000;
}
@media screen and (min-width: 640px) {
    #myCard {
        border-radius: 5px;
    }
}
#myCardName {
    font-size: 26pt;
}
#myCardDescription {
    font-size: 14pt;
}

@media screen and (min-width: 640px) {
    #myCardBG {
        height: 480px;
    }
    #myCard {
        /*margin: 12.5% auto;*/
        width: 34rem;
        height: 15rem;
    }
    #myCardName {
        font-size: 48pt;
    }
    #myCardDescription {
        font-size: 18pt;
    }
}
@media screen and (min-width: 960px) {
    #myCardBG {
        height: 520px;
    }
}

/*************************************************/

/* Homepage "recent" section */
/*
#recentHeader {
    border-top: 1px solid #a0a0a0;
    border-left: 4px solid #a0a0a0;
    border-top-left-radius: 5px;
    padding: 0.2em;
}
*/
#recent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.gridContainingBlock {
    position: relative;
    width: 100%;
}
.gridVideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.gridVideoWrapper object, 
.gridVideoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 640px) {
    .gridContainingBlock {
        width: 48%;
    }
}

/*************************************************/

/* Media, projects, supplemental page */
.videoGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.videoGrid .containingBlock {
    width: 100%;
}
.videoList .containingBlock {
    max-width: 560px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper object, 
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 640px) {
    .videoGrid .containingBlock {
        width: 48%;
    }
}

blockquote .instagram-media {
    max-width: 80% !important;
    width: 80% !important;
    /* min-width: auto !important; */
}
/*************************************************/

/* Bio formatting */
#headshot {
    margin: 1rem 0;
}
@media screen and (min-width: 960px) {
    #headshot {
        margin: 2rem 0;
    }
}

/*************************************************/

/* Works list formatting */
#categories {
    margin: 0; 
    padding: 0; 
}
#categories li {
    display: inline; 
    padding-right: 0.5em; 
}
#workslist th, #materials th {
    font-weight: 500;
    padding: 0 1rem 0.5rem 0;
}
#workslist td, #materials td {
    padding: 0 1rem 0.5rem 0;
}

.textBlock {
    max-width: 45em;
}
