/*
TODO:
- font touchup
- define text wrap points in myCardDescription
- contact form
- nav dropdown on mobile
- projects page as blog-style article links
- extra css spacing for media, links, supplemental, projects
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #080a0f;
    color: #ffffff;
    font-family: "Lato", "Trebuchet MS", sans-serif;
    font-weight: 300;
    margin: 1.5rem 1.25rem;
}
h1 {
    font-weight: 100;
}
h2, h3, table {
    font-weight: 300;
}
table {
    text-align: left;
}
:link, :visited {
    color: #ffffff;
}
/* Homepage */
#nav {
    margin-right: 2rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.navElement {
    padding: 0 1rem 0.5rem 0;
}
#nav td {
    padding: 0 0.66em 0 0;
}
#myCardBox {
    margin: 35% 8% 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#myCard {
    padding: 0 1rem;
    text-align: center;
    width: 22rem;
    border: 1px solid #ffffff;
    font-size: 20pt;
}
#myCardName {
    font-size: 26pt;
}
#myCardDescription {
    font-size: 14pt;
}
@media screen and (min-width: 640px) {
    #myCardBox {
        margin: 12.5% 8%;
    }
    #myCard {
        width: 35rem;
    }
    #myCardName {
        font-size: 48pt;
    }
    #myCardDescription {
        font-size: 18pt;
    }
}

/* Homepage "recent" section */
#recent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#gridContainingBlock {
    width: 100%;
}
.gridVideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.gridVideoWrapper object, 
.gridVideoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 640px) {
    #gridContainingBlock {
        width: 50%;
    }
    .gridVideoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }
    .gridVideoWrapper object, 
    .gridVideoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Media, projects, supplemental page */
#containingBlock {
    max-width: 560px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper object, 
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Works list formatting */
#workslist th {
    font-weight: 500;
    padding: 0 1rem 0.5rem 0;
}
#workslist td {
    padding: 0 1rem 0.5rem 0;
}

.textBlock {
    max-width: 45em;
}

/* Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    padding-top: 2rem;
}
footer td {
    padding: 1em 0.33em 0 0;
}
footer hr {
    color: #383a3f;
}